body,
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
	color: #111;
	font-size: 16px;
	line-height: 1.6;
}
/* 设置主体颜色 */
body {
    background: #eee;
    /* padding-top: 70px!important; */
}

/* 清除导航栏默认颜色 */
.navbar-default {
	background-color: #FFF;
	border-color: #FFF;
}

/* 自定义鼠标a标签鼠标悬停颜色 */
a:hover {
	color: #f8f8f8;
	background-color: #f8f8f8 !important;
}

.article-list>.article-list-title {
    background: #fff;
    padding: 10px 15px;
    margin-top: 0;
}

.panel-heading{
	background-color: #FFF !important;
	border-color: #FFF;
}